<?php 
/**
*   See README.md to get help for basic configuration
*/
namespace Wolfish;

abstract class Config
{
    
    // App settings
    const MAXPOST = 10000;
    const LOG_ERRORS = 'errors.log';
    const MULTIPLE_RESULTS_TEXT = 'Here are the results';
    const BANNED_TEXT = 'You don\'t have permission to use this command';
    const BANNED_USERS = [
        // add here NICKS or ID's of banned users, example: 'j.snow', 'U123456',
        // it's STRONGLY recommended to use ID's instead of NICKS, because nick can be changed
    ];
    const ALLOWED_USERS = [
        // add here NICKS or ID's of users, they will be the ONLY one to use this
        // everyone else not included here will be treated as banned
        // disregards BANNED_USERS if not empty
    ];
    

    // Slack settings
    const SLACK_TOKEN = 'your_slack_slash_command_token';
    const SLACK_RESPONSE_PARAMETERS = [
        'response_type' => 'in_channel',    // public or private display
        'unfurl_media' => true,
        'unfurl_links' => true
    ];
    
    // Google custom search auth
    const GOOGLE_APP_NAME = 'your_app_name_whatever';
    const GOOGLE_DEV_KEY = 'your_google_dev_key';
    const GOOGLE_CX_KEY = 'your_google_custom_search_key';
    const GOOGLE_LIMIT_EXCEEDED = 'You have exceeded the daily quota for Custom Search queries. The quota will be reset at midnight Pacific Time (PT).';
    const GOOGLE_NO_RESULT = 'No results found';

    // Google custom search parameters
    // default settings are for one image result
    const GOOGLE_SEARCH_PARAMETERS = [
        'safe' => 'high',       // filter results
        'num' => 1,             // number of results
        'searchType' => 'image' // search type
        // you can add more parameters here

        // See https://developers.google.com/custom-search/json-api/v1/reference/cse/list 
        // for full list of available parameters
    ];

}
